{% extends 'base.jinja' %}

{% block content %}
<div class = 'container'>
<h1>This is a top secret page, don't tell anyone</h1>

<ul>
<li>Hi {{user.first_name.lower().capitalize()}} {{user.last_name.lower().capitalize()}}
<li>Your username - <b>{{user.username}}</b></li>
<li>Your top secret encrypted password - <b>{{user.password}}</b></li>
<li>Your email - <b>{{user.email}}</b></li>
<h3>Your Feedback</h3>
<ul>
{% for entry in feedback  %}
<li>Title: <b>{{entry.title}} {{entry.content}}</b></li>
<li>Content: {{entry.content}}</li>
{% endfor %}
</ul>
</ul>

<form action = '/users/{{user.username}}/delete' method="post">
<button class = 'btn btn-danger'>Remove user</button>
<a href = '/users/{{user.username}}/add' class = 'btn btn-secondary'>Add feedback</a>
</form>

</div>


{% endblock content %}