<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h3>Cupcakes</h3>
<ul>
    {% for cupcake in cupcakes%}
    <li>Flavor: {{cupcake.flavor}}</li>
    <li>Rating: {{cupcake.rating}}</li>
    <li>Id: {{cupcake.id}}</li>
    <img src = '{{cupcake.image}}'>
    {%endfor%}
    </ul>
</body>
</html>