{% extends 'base.jinja2'%} {% block content %}

<h3>{{post.title}}</h3>
<p>{{post.content}}</p>
<p>By {{post.user.toString()}}</p>



<form action="/posts/{{post.id}}/edit">
  <button>Edit</button>
</form>

<form action="" method="post">
  <button>Delete</button>
</form>

{% endblock%}
