{% extends 'base.html' %}

{% block content %}
<h2> Create a new user</h2>
<form action = "/users/new" method = "post">
    <label for="first_name">First Name</label>
    <input type = "text" name = "first_name" id = "first_name" placeholder="Enter a first name">

    <label for="name">Last Name</label>
    <input type = "text" name = "last_name" id = "last_name" placeholder="Enter a last name">

    <label for="url">Image URL</label>
    <input type ="url" name = "image_url" id = "image_url" placeholder = "Provide an image of the user">
    
    <button type="submit"> Add new user</button>
</form>
{% endblock%}